<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/head.css">
    <link rel="stylesheet" href="css/mediaQueries.css">
</head>
<body>

    <div id="app">

        <head>
            <div class="menu">
                <div class="titulo">notes app</div>
            
                <div class="botao">
                    <input type="button" class="button" value="ADICIONAR" v-on:click="adicionar">
                    <input type="button" class="button" value="ATUALIZAR" v-on:click="atualizar">
                    <input type="button" class="button" value="DELETAR" v-on:click="deletar">
                </div>
            </div>

        </head>
         
        <div id="grid">
            <div class="esquerda">
                <div  v-for="nota in notas">
                    <span class="notasArmazenadas" v-on:click="selecionar" :data-nota-id="nota.id">{{nota.nota}}</span> 
                </div>      
            </div>
            
            <div class="direita">
                <textarea v-model="notaTexto"></textarea>
            </div>
        </div>
    
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
    
</body>
</html>